doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title ECC EXPO 2016 - Notification System

    if csrfToken
      meta(name='csrf-token', content= csrfToken)

    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

  body
    block content
